:root {
    --bg:             #002B36;
    --bg-subtle:      #133a44;
    --bg-muted:       #274a52;

    --fg:             #839496;
    --fg-dim:         #4e6a6f;

    --accent:         #268BD2;

    --sel-bg:         #073642;
    --sel-fg:         #93A1A1;

    --urgent:         #DC322F;
    --warning:        #B58900;
    --success:        #859900;
}
