alias typst-up="cargo install typst-cli --force"

# Search running processes
alias p="ps aux | grep "
alias topcpu="/bin/ps -eo pcpu,pid,user,args | sort -k 1 -r | head -10"

# Search files in the current folder
alias f="find . | grep "

# To see if a command is aliased, a file, or a built-in command
alias checkcommand="type -t"

alias clean-suck='rm -f st dwm dmenu *.o *.orig'
alias disk='ncdu'
alias df2='duf -hide special'
alias mem2='free -h'
alias mem='sudo ps_mem'
alias df='du -sh * 2>/dev/null | sort -hr'
alias temps='sensors'

alias sctl="sudo systemctl"
alias sctls="systemctl status"
alias sctle="sudo systemctl enable --now"
alias sctld="sudo systemctl disable --now"
alias sctlr="sudo systemctl restart"
alias se="sudoedit"

# File and directory management
alias :q="exit"
alias ls="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions"
alias lsp="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user"
alias lsa="eza --color=always --long --git --icons=always -b -a --total-size"
alias lt="eza --tree --level=2 --long --icons --git"
alias tree="eza --tree --level=3 --icons --git"

alias cat='bat'
alias md='mkdir -pv'
alias mv='mv -iv'
alias cp='cp -vr'
alias crp='rsync -ah --progress'
alias crpe='rsync -avh --progress --inplace --ignore-errors --partial --timeout=10'

alias rm='rm -rf'

alias ls-fonts='fc-list :spacing=100 -f "%{family[0]}\n" | grep -v -iE "emoji|signwriting" | sort -u'
alias ls-fontsf='fc-list :spacing=100 -f "%{family}: %{style}\n" | grep -v -iE "emoji|signwriting" | sort'

# Safer delete with trash-cli
alias tp='trash-put'
alias tl='trash-list | fzf | xargs -r trash-info'
alias tr='trash-restore'
alias te='rm -rfv ~/.local/share/vifm/Trash/*; trash-empty'

# Navigation
alias cda="cd && cd assets"
alias cdc="cd && cd Projects"
alias cdd="cd && cd Downloads"
alias cdp="cd && cd Pictures"
alias cdw="cd && cd Documents"
alias cdv="cd && cd Videos"
alias cds="cd && cd .local/bin"
alias cdf="cd && cd dotfiles"
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

alias fm='yazi'
alias fex='muvm -ti FEXBash'

# Editors
alias v='nvim'
alias vi="nvim -c \"lua require('fzf-lua').oldfiles()\""
alias vim='nvim -c "lua require('\''fzf-lua'\'').files()"'
alias vdiff="nvim -d"
alias sv="sudo -E ~/.local/share/bob/nightly/bin/nvim" 

# Git
alias g='git'
alias gaa='git add . -v'
alias gc='git commit -m'
alias gs='git status'
alias gps='git push -v'
alias gpf='git push -v --force'
alias gf='git fetch --all --tags --prune'
alias gpl='git pull'
alias gpr='git pull --rebase'
alias gl='git log --graph --oneline --decorate --all'
alias gls='git log --stat'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gsw='git switch'
alias gm='git merge'
alias grs='git reset'
alias grsh='git reset --hard'
alias grst='git restore --staged'
alias lg='lazygit'
alias lgf='cd ~/dotfiles && lazygit'

# System utilities
alias ko='pkill'
alias h='history | fzf'
alias jour='journalctl -xe'
alias fz='fzf --preview '\''bat --color=always --style=numbers --line-range=:500 {}'\'' --bind '\''enter:execute(xdg-open {})'\'''
alias openports='netstat -nape --inet'
alias ports='ss -tuln'
alias myip='curl https://ipinfo.io/ip && echo'
alias startup='clear && systemctl list-unit-files --type=service | grep enabled'

# Miscellaneous
alias class='xprop | grep WM_CLASS'
alias sb='source ~/.bashrc'
alias sz='source "$ZDOTDIR/.zshrc" && echo "Zsh config reloaded ✅"'
alias xx='exit'
alias c='clear'
alias t='tmux'
alias yd='yt-dlp'
alias yda='yt-dlp --external-downloader aria2c --external-downloader-args '\''aria2c:-x10 -s10 -k1M'\'''
alias yd1080="yt-dlp -f 'bv*[height<=1080][ext=mp4]+ba[ext=m4a]/b[height<=1080][ext=mp4]/bv*+ba/b' --embed-thumbnail --embed-metadata"
alias yd720="yt-dlp -f 'bv[ext=mp4][height=720]+ba[ext=m4a]/b[ext=mp4][height<=720]' --embed-thumbnail --embed-metadata"

alias wget1='wget --mirror --convert-links --adjust-extension --page-requisites --no-parent'
alias wget2='wget --tries=5 --retry-connrefused --waitretry=30'
alias curldl='curl -L -C - -O'
alias ac='aria2c'
alias aria='aria2c --check-certificate=false -x 16 -s 16'
