alias disk='ncdu'
alias df='duf -hide special'
alias mem2='free -h'
alias mem='sudo ps_mem'
alias df2='du -sh * 2>/dev/null | sort -hr'
alias temps='sensors'

alias sctl="systemctl"
alias sctls="systemctl status"
alias sctle="systemctl enable"
alias sctld="systemctl disable"
alias sctlr="systemctl restart"
alias se="sudoedit"

# File and directory management
alias :q="exit"
alias ls='ls --color=auto -F --group-directories-first'
alias ll='ls -lh'
alias la='ls -A'
alias lla='ls -lAh'
alias tree='tree -C --dirsfirst'
alias tree2='tree -L 2'

alias cat='bat'
alias md='mkdir -pv'
alias mv='mv -iv'
alias cp='cp -vr'
alias crp='rsync -ah --progress'

alias rm='rm -rf'

# Safer delete with trash-cli
alias tp='trash-put'
alias tl='trash-list | fzf | xargs -r trash-info'
alias tr='trash-restore'
alias te='rm -rfv ~/.local/share/vifm/Trash/*; trash-empty'

# Navigation
alias cdd="cd && cd Downloads"
alias cdp="cd && cd Pictures"
alias cdc="cd && cd Documents"
alias cdv="cd && cd Videos"
alias cds="cd && cd scripts"
alias cdf="cd && cd dotfiles"
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

alias fm='vifm'

# Editors
alias v='nvim'
alias vi='nvim'
alias vim='nvim'
alias sv='sudo nvim'

# Git
alias g='git'
alias gaa='git add . -v'
alias gc='git commit -m'
alias gct='git commit'
alias gs='git status'
alias gps='git push -v'
alias gpf='git push -v --force'
alias gf='git fetch --all --tags --prune'
alias gpl='git pull'
alias gpr='git pull --rebase'
alias gl='git log --graph --oneline --decorate --all'
alias gls='git log --stat'
alias gd='git diff'
alias gds='git diff --stat'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gsw='git switch'
alias gm='git merge'
alias goo='git remote -v | grep github.com | grep fetch | head -1 | awk '\''{print $2}'\'' | sed '\''s|git@github.com:|https://github.com/|'\'' | xargs xdg-open'
alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -d'
alias gbD='git branch -D'
alias grb='git rebase'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbi='git rebase -i'
alias grs='git reset'
alias grsh='git reset --hard'
alias grst='git restore --staged'
alias lg='cd ~/dotfiles && lazygit'

# System utilities
alias ko='pkill'
alias h='history | fzf'
alias jour='journalctl -xe'
alias fz='fzf --preview '\''bat --color=always --style=numbers --line-range=:500 {}'\'' --bind '\''enter:execute(xdg-open {})'\'''
alias openports='netstat -nape --inet'
alias ports='ss -tuln'
alias myip='curl https://ipinfo.io/ip && echo'
alias startup='clear && systemctl list-unit-files --type=service | grep enabled'

# Miscellaneous
alias sbash='source ~/.bashrc'
alias szsh='source ~/.zshrc'
alias xx='exit'
alias c='clear'
alias t='tmux'
alias yd='yt-dlp'
alias yda='yt-dlp --external-downloader aria2c --external-downloader-args '\''aria2c:-x10 -s10 -k1M'\'''
alias yd1080="yt-dlp -f 'bv*[height<=1080][ext=mp4]+ba[ext=m4a]/b[height<=1080][ext=mp4]/bv*+ba/b' --embed-thumbnail --embed-metadata"
alias yd720="yt-dlp -f 'bv[ext=mp4][height=720]+ba[ext=m4a]/b[ext=mp4][height<=720]' --embed-thumbnail --embed-metadata"

alias wget1='wget --mirror --convert-links --adjust-extension --page-requisites --no-parent'
alias wget2='wget --tries=5 --retry-connrefused --waitretry=30'
alias curldl='curl -L -C - -O'
alias ac='aria2c'
alias aria='aria2c --check-certificate=false -x 16 -s 16'
