# Ignore apps folder and all subfolders
apps/
home/secrets/
# Other common files to ignore
.mypy_cache/
*.zip
*.log
*.bak
node_modules/
.DS_Store
*result*
.config/nvim/lazy-lock.json
sync_dots.sh

# Build artifacts
*.o
dwm
drw
util

# Backup / temporary files
*~
*.rej
*.orig

# Ignore compiled binaries, logs, etc.
*.out
