# -------------------------
# System / OS
# -------------------------
.DS_Store
*.log
*.bak

# -------------------------
# Python / Development
# -------------------------
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
*.egg
*.egg-info/
.installed.cfg
*.manifest
*.spec
.pdm-python
.pdm-build/
__pypackages__/

# Python build directories
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.pybuilder/
target/

# Python virtual environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# -------------------------
# Node.js / JavaScript
# -------------------------
node_modules/

# -------------------------
# Archives
# -------------------------
*.zip

# -------------------------
# Cache / Temporary files
# -------------------------
.mypy_cache/

# -------------------------
# App-specific / Config
# -------------------------
.config/go
.config/nvim/lazy-lock.json
.config/vdirsyncer/google_token
google_token
.config/BraveSoftware/

# -------------------------
# Binaries
# -------------------------
.local/bin/bob
.local/bin/f2py
.local/bin/numpy-config
.local/bin/fonttools
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/ttx
.local/bin/lsm2bin
.local/bin/tiff2fsspec
.local/bin/tiffcomment
.local/bin/tifffile
.local/bin/imageio_download_bin
.local/bin/imageio_remove_bin

# -------------------------
# Theme images
# -------------------------
# flavors/backgrounds/*.jpg
# flavors/backgrounds/*.jpeg
# flavors/backgrounds/*.png
__pycache__
*.pyc
*.pyo
*.pyd
*.so
.Python
*.egg
*.egg-info
.installed.cfg
*.manifest
*.spec
.pdm-python
.pdm-build
__pypackages__
build
develop-eggs
dist
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
share/python-wheels
.pybuilder
target
.env
.envrc
.venv
env
venv
ENV
env.bak
venv.bak
.DS_Store
*.log
*.bak
*.zip
node_modules
.mypy_cache
.config/go
.config/nvim/lazy-lock.json
.config/vdirsyncer/google_token
google_token
.config/BraveSoftware
.local/bin/bob
.local/bin/f2py
.local/bin/numpy-config
.local/bin/fonttools
.local/bin/pyftmerge
.local/bin/pyftsubset
.local/bin/ttx
.local/bin/lsm2bin
.local/bin/tiff2fsspec
.local/bin/tiffcomment
.local/bin/tifffile
.local/bin/imageio_download_bin
.local/bin/imageio_remove_bin
flavors/backgrounds/*.jpg
flavors/backgrounds/*.jpeg
flavors/backgrounds/*.png
themes/**/rofi.png
themes/**/color-palette.png
.config/go
