separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#d9d9d9

[separator]
full_text="⟨"
color=#2a2a2a

[bandwidth]
command=bandwith
interval=1
label=   
color=#58d1eb

[separator]
full_text="⟨"
color=#2a2a2a

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#9d65ff

[separator]
full_text="⟨"
color=#2a2a2a

[memory]
label=  
command=memory
interval=2
color=#9d65ff

[separator]
full_text="⟨"
color=#2a2a2a

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#f4005f

[separator]
full_text="⟨"
color=#2a2a2a

[wifi]
command=wifi-status
interval=30
color=#d9d9d9

[separator]
full_text="⟨"
color=#2a2a2a

[volume]
command=sb-volume
interval=1
color=#fd971f

[separator]
full_text="⟨"
color=#2a2a2a

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#d9d9d9

[separator]
full_text="⟨"
color=#2a2a2a

[brightness]
command=sb-brightness
interval=5
label=   
color=#d9d9d9

[separator]
full_text="⟨"
color=#2a2a2a

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#9d65ff

[separator]
full_text="⟨"
color=#2a2a2a

[keymap]
command=kb-layout
interval=2
color=#9d65ff

[separator]
full_text="⟨"
color=#2a2a2a

[battery]
command=battery
interval=30
color=#58d1eb

[separator]
full_text="⟨"
color=#2a2a2a

[shutdown_menu]
full_text=
command=powermenu
color=#f4005f
