 * {
    bg:             #0c0c0c;
    bg-subtle:      #2a2a2a;
    bg-muted:       #494949;

    fg:             #d9d9d9;
    fg-dim:         #878787;

    accent:         #9d65ff;

    sel-bg:         #343434;
    sel-fg:         #ffffff;

    urgent:         #f4005f;
    warning:        #fd971f;
    success:        #98e024;
}
