
@define-color bg           #191724;
@define-color fg           #c6c6c6;
@define-color foreground   #c6c6c6;
@define-color bordercolor  #414559;
@define-color highlight    #7aa2f7;
@define-color alert        #f7768e;
@define-color activegreen  #9ece6a;
@define-color disabled     #565f89;
