:root {
    --bg:             #192330;
    --bg-subtle:      #343c47;
    --bg-muted:       #4f565f;

    --fg:             #cdcecf;
    --fg-dim:         #85898f;

    --accent:         #719cd6;

    --sel-bg:         #2b3b51;
    --sel-fg:         #cdcecf;

    --urgent:         #c94f6d;
    --warning:        #dbc074;
    --success:        #81b29a;
}
