separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#575279

[separator]
full_text="⟨"
color=#e1dbdb

[bandwidth]
command=bandwith
interval=1
label=   
color=#d7827e

[separator]
full_text="⟨"
color=#e1dbdb

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#56949f

[separator]
full_text="⟨"
color=#e1dbdb

[memory]
label=  
command=memory
interval=2
color=#56949f

[separator]
full_text="⟨"
color=#e1dbdb

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#b4637a

[separator]
full_text="⟨"
color=#e1dbdb

[wifi]
command=wifi-status
interval=30
color=#575279

[separator]
full_text="⟨"
color=#e1dbdb

[volume]
command=sb-volume
interval=1
color=#ea9d34

[separator]
full_text="⟨"
color=#e1dbdb

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#575279

[separator]
full_text="⟨"
color=#e1dbdb

[brightness]
command=sb-brightness
interval=5
label=   
color=#575279

[separator]
full_text="⟨"
color=#e1dbdb

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#56949f

[separator]
full_text="⟨"
color=#e1dbdb

[keymap]
command=kb-layout
interval=2
color=#56949f

[separator]
full_text="⟨"
color=#e1dbdb

[battery]
command=battery
interval=30
color=#d7827e

[separator]
full_text="⟨"
color=#e1dbdb

[shutdown_menu]
full_text=
command=powermenu
color=#b4637a
