 * {
    bg:             #161616;
    bg-subtle:      #373737;
    bg-muted:       #585859;

    fg:             #f2f4f8;
    fg-dim:         #9a9b9d;

    accent:         #33b1ff;

    sel-bg:         #f2f4f8;
    sel-fg:         #161616;

    urgent:         #ee5396;
    warning:        #82cfff;
    success:        #42be65;
}
