@import "../zorro/current/theme/waybar.css";

/* Base styling */
* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  color: @fg;                  /* main text color */
  background: @bg;             /* main background */
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 2px solid @bordercolor;
  border-radius: 10px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0px;
  padding: 0px 5px;
  margin: 5px 0px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  color: @fg;
}
#workspaces button.urgent {
  color: @alert;
}
#workspaces button.empty {
  color: @disabled;
}
#workspaces button.active {
  color: @highlight;
}

/* River Tags/Workspaces */
#tags {
  background-color: transparent;
  border-radius: 0px;
  padding: 0px 5px;
}
#tags button {
  color: @fg;
  background: @bg;
  border-radius: 0px;
  padding: 0px;
  margin: 5px 0px;
}
#tags button.occupied {
  color: @fg;
}
#tags button.focused {
  color: @highlight;
}
#tags button.urgent {
  color: @alert;
}

/* All main modules inherit theme color */
#clock,
#cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language {
  min-width: 40px;   /* ensure text fits */
  padding-left: 2px;
  padding-right: 2px;
  color: #ffffff;    /* text color */
}
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#taskbar,
#tray,
#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#mode,
#scratchpad,
#custom-notification,
#custom-wifi,
#custom-kdeconnect,
#custom-bluetooth,
#custom-power,
#custom-separator,
#idle_inhibitor,
#window,
#mpd {
  padding: 0px 5px;
  margin: 0px 5px;
  color: @fg;   /* enforce main text color */
}

/* Alerts and highlights override main color */
#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @alert;
}
#battery.charging,
#battery.plugged {
  color: @activegreen;
}
#battery.critical:not(.charging) {
  background-color: @alert;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Custom module backgrounds */
#clock,
#custom-group {
  background-color: @bordercolor;
  color: @fg;
  margin: 5px;
  padding: 0px 5px;
  border-radius: 5px;
}

/* Tray styling */
#tray {
  border: 1px solid @bordercolor;
  margin: 5px;
  padding: 0px 15px;
  border-radius: 5px;
}

/* Separator styling */
#custom-separator {
  padding: 0px;
  margin: 0px;
  color: @disabled;
}

/* Labels */
label:focus {
  background-color: @bg;
}
