:root {
    --bg:             #282828;
    --bg-subtle:      #413e38;
    --bg-muted:       #5b5549;

    --fg:             #d4be98;
    --fg-dim:         #8f826b;

    --accent:         #458588;

    --sel-bg:         #e78a4e;
    --sel-fg:         #d4be98;

    --urgent:         #ea6962;
    --warning:        #d8a657;
    --success:        #a9b665;
}
