# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#ebdbb2

[separator]
full_text="⟨"
color=#a89984

[bandwidth]
command=bandwith
interval=1
label=   
color=#d79921

[separator]
full_text="⟨"
color=#a89984

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#928374

[separator]
full_text="⟨"
color=#a89984

[memory]
label=  
command=memory
interval=2
color=#458588

[separator]
full_text="⟨"
color=#a89984

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#cc241d

[separator]
full_text="⟨"
color=#a89984

[wifi]
command=wifi-status
interval=30
color=#928374

[separator]
full_text="⟨"
color=#a89984

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#fabd2f

[separator]
full_text="⟨"
color=#a89984

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#d79921

[separator]
full_text="⟨"
color=#a89984

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#458588

[separator]
full_text="⟨"
color=#a89984

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#928374

[separator]
full_text="⟨"
color=#a89984

[keymap]
command=kb-layout
interval=2
color=#458588

[separator]
full_text="⟨"
color=#a89984

[battery]
command=battery
interval=30
color=#d79921

[separator]
full_text="⟨"
color=#a89984

[shutdown_menu]
full_text=
command=powermenu
color=#cc241d
