@define-color foreground #d4be98;
@define-color background #282828;
@define-color bg              #282828;
@define-color fg              #ebdbb2;
@define-color bordercolor     #928374;
@define-color highlight       #fabd2f;
@define-color alert           #cc241d;
@define-color activegreen     #98971a;
@define-color disabled        #504945;

