@define-color foreground 	#d4be98;
@define-color background 	#282828;
@define-color bg 				 	#282828;
@define-color fg 				 	#ebdbb2;
@define-color bordercolor #928374;
@define-color highlight 	#fabd2f;
@define-color alert 			#cc241d;
@define-color activegreen #98971a;
@define-color disabled    #504945;

@define-color bg_alt      #3c3836;
@define-color border      #504945;

@define-color red         #fb4934;
@define-color green       #b8bb26;
@define-color yellow      #fabd2f;
@define-color blue        #83a598;
@define-color purple      #d3869b;
@define-color aqua        #8ec07c;
@define-color orange      #fe8019;
@define-color gray        #928374;
