
@import "../zorro/current/theme/waybar.css";

/* -------------------- Semi-transparent variable -------------------- */
@define-color bordercolor_opacity rgba(40, 40, 40, 0.6);

/* -------------------- Window styling -------------------- */
window {
    background: transparent;  /* important for transparency */
    font-family: JetBrains Mono;
    font-weight: 500;
    padding: 0px;             /* remove excessive padding */
}

/* -------------------- General module styling -------------------- */
#pulseaudio,
#temperature,
#backlight,
#battery,
#clock,
#cpu,
#memory,
#disk,
#custom_cpu,
#custom_ram,
#custom_read,
#custom_write,
#network,
#wireplumber,
#power-profiles-daemon,
#idle_inhibitor,
#custom-bluetooth,
#custom-wifi,
#custom-power,
#custom_apps,
#custom_separator,
#custom_notification,
#sway_language {
    border-radius: 10px;
    margin: 0 4px;
    padding: 3px 0px;
    background-color: @bordercolor_opacity;
    color: @fg;
    font-size: 12px;
    font-weight: 500;
}


/* -------------------- Tray specific spacing -------------------- */
#tray {
    margin-left: 5px;
    margin-right: 8px;
}

/* -------------------- Divider styling -------------------- */
#custom-divider {
    font-size: 14px;
    font-weight: bold;
    color: @bg;
}

/* -------------------- Clock styling -------------------- */
#clock {
    font-size: 12px;
    padding: 0px 6px;
}

/* -------------------- Workspaces container -------------------- */
#workspaces {
    border-radius: 18px;
    padding: 3px 1px;
}

/* -------------------- Workspaces buttons -------------------- */
#workspaces button {
    background-color: @bordercolor_opacity;
    border-radius: 12px;
    padding: 0px 4px;
    margin: 0 2px;
    color: @fg;
    font-weight: bold;
    font-size: 9px;
}

/* -------------------- Active/focused workspace buttons -------------------- */
#workspaces button.active,
#workspaces button.focused {
    font-weight: bold;
    padding: 0px 12px;
}
