 * {
    bg:             #282a36;
    bg-subtle:      #474852;
    bg-muted:       #66676e;

    fg:             #f8f8f2;
    fg-dim:         #a4a5a6;

    accent:         #bd93f9;

    sel-bg:         #44475a;
    sel-fg:         #ffffff;

    urgent:         #ff5555;
    warning:        #f1fa8c;
    success:        #50fa7b;
}
