 * {
    bg:             #0d0509;
    bg-subtle:      #2f272b;
    bg-muted:       #51494d;

    fg:             #f0eaed;
    fg-dim:         #958e91;

    accent:         #D9A56C;

    sel-bg:         #f0eaed;
    sel-fg:         #0d0509;

    urgent:         #E85F6F;
    warning:        #D4A882;
    success:        #F29B9A;
}
