# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#d7ccc8

[separator]
full_text="⟨"
color=#3e2723

[bandwidth]
command=bandwith
interval=1
label=   
color=#8d6e63

[separator]
full_text="⟨"
color=#3e2723

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#bcaaa4

[separator]
full_text="⟨"
color=#3e2723

[memory]
label=  
command=memory
interval=2
color=#bcaaa4

[separator]
full_text="⟨"
color=#3e2723

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#bcaaa4

[separator]
full_text="⟨"
color=#3e2723

[wifi]
command=wifi-status
interval=30
color=#d7ccc8

[separator]
full_text="⟨"
color=#3e2723

[volume]
command=sb-volume
interval=1
color=#d7ccc8

[separator]
full_text="⟨"
color=#3e2723

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#d7ccc8

[separator]
full_text="⟨"
color=#3e2723

[brightness]
command=sb-brightness
interval=5
label=   
color=#d7ccc8

[separator]
full_text="⟨"
color=#3e2723

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#bcaaa4

[separator]
full_text="⟨"
color=#3e2723

[keymap]
command=kb-layout
interval=2
color=#bcaaa4

[separator]
full_text="⟨"
color=#3e2723

[battery]
command=battery
interval=30
color=#8d6e63

[separator]
full_text="⟨"
color=#3e2723

[shutdown_menu]
full_text=
command=powermenu
color=#bcaaa4
