:root {
    --bg:             #11111b;
    --bg-subtle:      #2d2e3b;
    --bg-muted:       #494c5c;

    --fg:             #cdd6f4;
    --fg-dim:         #81879d;

    --accent:         #89b4fa;

    --sel-bg:         #cba6f7;
    --sel-fg:         #cdd6f4;

    --urgent:         #f38ba8;
    --warning:        #f9e2af;
    --success:        #a6e3a1;
}
