 * {
    bg:             #FFFCF0;
    bg-subtle:      #dbd8ce;
    bg-muted:       #b7b4ac;

    fg:             #100F0F;
    fg-dim:         #6f6d69;

    accent:         #4385BE;

    sel-bg:         #CECDC3;
    sel-fg:         #100F0F;

    urgent:         #D14D41;
    warning:        #D0A215;
    success:        #879A39;
}
