
@define-color bg           #f5e0dc;
@define-color fg           #4c4f69;
@define-color foreground   #4c4f69;
@define-color bordercolor  #d9e0ee;
@define-color highlight    #f2cdcd;
@define-color alert        #f38ba8;
@define-color activegreen  #a6e3a1;
@define-color disabled     #cdd6f4;
