 * {
    bg:             #16242d;
    bg-subtle:      #324049;
    bg-muted:       #4f5d66;

    fg:             #d6e2ee;
    fg-dim:         #8996a0;

    accent:         #6fb8e3;

    sel-bg:         #4d9ed3;
    sel-fg:         #1b2d40;

    urgent:         #4d86b0;
    warning:        #6fa4c9;
    success:        #5e95bc;
}
