 * {
    bg:             #2c2525;
    bg-subtle:      #474040;
    bg-muted:       #635b5b;

    fg:             #e6d9db;
    fg-dim:         #9b9192;

    accent:         #f38d70;

    sel-bg:         #403e41;
    sel-fg:         #e6d9db;

    urgent:         #fd6883;
    warning:        #f9cc6c;
    success:        #adda78;
}
