@define-color foreground #e6e4d9;
@define-color background #100f0f;
@define-color bg              #100f0f;
@define-color fg              #fffcf0;
@define-color bordercolor     #878580;
@define-color highlight       #d0a215;
@define-color alert           #af3029;
@define-color activegreen     #66800b;
@define-color disabled        #575653;

@define-color bg_alt      #403f3c;
@define-color border      #575653;

@define-color red         #d14d41;
@define-color green       #879a39;
@define-color yellow      #d0a215;
@define-color blue        #4385be;
@define-color purple      #a02f6f;
@define-color aqua        #3aa99f;
@define-color orange      #d15f00;
@define-color gray        #878580;
