separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#c2c2b0

[separator]
full_text="⟨"
color=#3a3a37

[bandwidth]
command=bandwith
interval=1
label=   
color=#c9a554

[separator]
full_text="⟨"
color=#3a3a37

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#78824b

[separator]
full_text="⟨"
color=#3a3a37

[memory]
label=  
command=memory
interval=2
color=#78824b

[separator]
full_text="⟨"
color=#3a3a37

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#685742

[separator]
full_text="⟨"
color=#3a3a37

[wifi]
command=wifi-status
interval=30
color=#c2c2b0

[separator]
full_text="⟨"
color=#3a3a37

[volume]
command=sb-volume
interval=1
color=#b36d43

[separator]
full_text="⟨"
color=#3a3a37

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#c2c2b0

[separator]
full_text="⟨"
color=#3a3a37

[brightness]
command=sb-brightness
interval=5
label=   
color=#c2c2b0

[separator]
full_text="⟨"
color=#3a3a37

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#78824b

[separator]
full_text="⟨"
color=#3a3a37

[keymap]
command=kb-layout
interval=2
color=#78824b

[separator]
full_text="⟨"
color=#3a3a37

[battery]
command=battery
interval=30
color=#c9a554

[separator]
full_text="⟨"
color=#3a3a37

[shutdown_menu]
full_text=
command=powermenu
color=#685742
