# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#c2c2b0

[separator]
full_text="⟨"
color=#000000

[bandwidth]
command=bandwith
interval=1
label=   
color=#5f875f

[separator]
full_text="⟨"
color=#000000

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#c9a554

[separator]
full_text="⟨"
color=#000000

[memory]
label=  
command=memory
interval=2
color=#d7c483

[separator]
full_text="⟨"
color=#000000

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#685742

[separator]
full_text="⟨"
color=#000000

[wifi]
command=wifi-status
interval=30
color=#c9a554

[separator]
full_text="⟨"
color=#000000

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#b36d43

[separator]
full_text="⟨"
color=#000000

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#5f875f

[separator]
full_text="⟨"
color=#000000

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#d7c483

[separator]
full_text="⟨"
color=#000000

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#c9a554

[separator]
full_text="⟨"
color=#000000

[keymap]
command=kb-layout
interval=2
color=#d7c483

[separator]
full_text="⟨"
color=#000000

[battery]
command=battery
interval=30
color=#5f875f

[separator]
full_text="⟨"
color=#000000

[shutdown_menu]
full_text=
command=powermenu
color=#685742
