:root {
    --bg:             #222222;
    --bg-subtle:      #3a3a37;
    --bg-muted:       #52524c;

    --fg:             #c2c2b0;
    --fg-dim:         #828277;

    --accent:         #78824b;

    --sel-bg:         #78824b;
    --sel-fg:         #c2c2b0;

    --urgent:         #685742;
    --warning:        #b36d43;
    --success:        #5f875f;
}
