separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#b4d0dd

[separator]
full_text="⟨"
color=#222a33

[bandwidth]
command=bandwith
interval=1
label=   
color=#86a0ad

[separator]
full_text="⟨"
color=#222a33

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#97a6bb

[separator]
full_text="⟨"
color=#222a33

[memory]
label=  
command=memory
interval=2
color=#97a6bb

[separator]
full_text="⟨"
color=#222a33

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#6e7b91

[separator]
full_text="⟨"
color=#222a33

[wifi]
command=wifi-status
interval=30
color=#b4d0dd

[separator]
full_text="⟨"
color=#222a33

[volume]
command=sb-volume
interval=1
color=#7e96a5

[separator]
full_text="⟨"
color=#222a33

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#b4d0dd

[separator]
full_text="⟨"
color=#222a33

[brightness]
command=sb-brightness
interval=5
label=   
color=#b4d0dd

[separator]
full_text="⟨"
color=#222a33

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#97a6bb

[separator]
full_text="⟨"
color=#222a33

[keymap]
command=kb-layout
interval=2
color=#97a6bb

[separator]
full_text="⟨"
color=#222a33

[battery]
command=battery
interval=30
color=#86a0ad

[separator]
full_text="⟨"
color=#222a33

[shutdown_menu]
full_text=
command=powermenu
color=#6e7b91
