 * {
    bg:             #090d15;
    bg-subtle:      #222a33;
    bg-muted:       #3c4751;

    fg:             #b4d0dd;
    fg-dim:         #6f828d;

    accent:         #97a6bb;

    sel-bg:         #97a6bb;
    sel-fg:         #090d15;

    urgent:         #6e7b91;
    warning:        #7e96a5;
    success:        #667e8c;
}
