# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#dcd7ba

[separator]
full_text="⟨"
color=#727169

[bandwidth]
command=bandwith
interval=1
label=   
color=#e6c384

[separator]
full_text="⟨"
color=#727169

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#7fb4ca

[separator]
full_text="⟨"
color=#727169

[memory]
label=  
command=memory
interval=2
color=#7fb4ca

[separator]
full_text="⟨"
color=#727169

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#c34043

[separator]
full_text="⟨"
color=#727169

[wifi]
command=wifi-status
interval=30
color=#7aa89f

[separator]
full_text="⟨"
color=#727169

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#e6c384

[separator]
full_text="⟨"
color=#727169

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#7aa89f

[separator]
full_text="⟨"
color=#727169

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#7aa89f

[separator]
full_text="⟨"
color=#727169

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#7fb4ca

[separator]
full_text="⟨"
color=#727169

[keymap]
command=kb-layout
interval=2
color=#7fb4ca

[separator]
full_text="⟨"
color=#727169

[battery]
command=battery
interval=30
color=#e6c384

[separator]
full_text="⟨"
color=#727169

[shutdown_menu]
full_text=
command=powermenu
color=#c34043
