:root {
    --bg:             #1f1f28;
    --bg-subtle:      #3b3a3d;
    --bg-muted:       #575653;

    --fg:             #dcd7ba;
    --fg-dim:         #908d7f;

    --accent:         #7e9cd8;

    --sel-bg:         #2d4f67;
    --sel-fg:         #c8c093;

    --urgent:         #c34043;
    --warning:        #c0a36e;
    --success:        #76946a;
}
