
@define-color bg           #191724;
@define-color fg           #e0def4;
@define-color foreground   #e0def4;
@define-color bordercolor  #4d4b66;
@define-color highlight    #eb6f92;
@define-color alert        #f7768e;
@define-color activegreen  #31748f;
@define-color disabled     #6e6a86;
