 * {
    bg:             #181616;
    bg-subtle:      #313030;
    bg-muted:       #4b4b4a;

    fg:             #c5c9c5;
    fg-dim:         #7f817e;

    accent:         #8ba4b0;

    sel-bg:         #2D4F67;
    sel-fg:         #C8C093;

    urgent:         #c4746e;
    warning:        #c4b28a;
    success:        #8a9a7b;
}
