# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#cacccc

[separator]
full_text="⟨"
color=#4b4e55

[bandwidth]
command=bandwith
interval=1
label=   
color=#798186

[separator]
full_text="⟨"
color=#4b4e55

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#d9dbdc

[separator]
full_text="⟨"
color=#4b4e55

[memory]
label=  
command=memory
interval=2
color=#de6145

[separator]
full_text="⟨"
color=#4b4e55

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#565d60

[separator]
full_text="⟨"
color=#4b4e55

[wifi]
command=wifi-status
interval=30
color=#d9dbdc

[separator]
full_text="⟨"
color=#4b4e55

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#c9c2b4

[separator]
full_text="⟨"
color=#4b4e55

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#798186

[separator]
full_text="⟨"
color=#4b4e55

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#de6145

[separator]
full_text="⟨"
color=#4b4e55

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#d9dbdc

[separator]
full_text="⟨"
color=#4b4e55

[keymap]
command=kb-layout
interval=2
color=#de6145

[separator]
full_text="⟨"
color=#4b4e55

[battery]
command=battery
interval=30
color=#798186

[separator]
full_text="⟨"
color=#4b4e55

[shutdown_menu]
full_text=
command=powermenu
color=#565d60
