separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#cacccc

[separator]
full_text="⟨"
color=#2b2e30

[bandwidth]
command=bandwith
interval=1
label=   
color=#707070

[separator]
full_text="⟨"
color=#2b2e30

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#798186

[separator]
full_text="⟨"
color=#2b2e30

[memory]
label=  
command=memory
interval=2
color=#798186

[separator]
full_text="⟨"
color=#2b2e30

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#565d60

[separator]
full_text="⟨"
color=#2b2e30

[wifi]
command=wifi-status
interval=30
color=#cacccc

[separator]
full_text="⟨"
color=#2b2e30

[volume]
command=sb-volume
interval=1
color=#d9dbdc

[separator]
full_text="⟨"
color=#2b2e30

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#cacccc

[separator]
full_text="⟨"
color=#2b2e30

[brightness]
command=sb-brightness
interval=5
label=   
color=#cacccc

[separator]
full_text="⟨"
color=#2b2e30

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#798186

[separator]
full_text="⟨"
color=#2b2e30

[keymap]
command=kb-layout
interval=2
color=#798186

[separator]
full_text="⟨"
color=#2b2e30

[battery]
command=battery
interval=30
color=#707070

[separator]
full_text="⟨"
color=#2b2e30

[shutdown_menu]
full_text=
command=powermenu
color=#565d60
