:root {
    --bg:             #101315;
    --bg-subtle:      #2b2e30;
    --bg-muted:       #474a4b;

    --fg:             #cacccc;
    --fg-dim:         #7f8282;

    --accent:         #798186;

    --sel-bg:         #798186;
    --sel-fg:         #101315;

    --urgent:         #565d60;
    --warning:        #d9dbdc;
    --success:        #9fa5a9;
}
