# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#C1C497

[separator]
full_text="⟨"
color=#53685B

[bandwidth]
command=bandwith
interval=1
label=   
color=#509475

[separator]
full_text="⟨"
color=#53685B

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#549E6A

[separator]
full_text="⟨"
color=#53685B

[memory]
label=  
command=memory
interval=2
color=#549E6A

[separator]
full_text="⟨"
color=#53685B

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#FF5345

[separator]
full_text="⟨"
color=#53685B

[wifi]
command=wifi-status
interval=30
color=#C1C497

[separator]
full_text="⟨"
color=#53685B

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#E5C736

[separator]
full_text="⟨"
color=#53685B

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#C1C497

[separator]
full_text="⟨"
color=#53685B

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#C1C497

[separator]
full_text="⟨"
color=#53685B

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#549E6A

[separator]
full_text="⟨"
color=#53685B

[keymap]
command=kb-layout
interval=2
color=#549E6A

[separator]
full_text="⟨"
color=#53685B

[battery]
command=battery
interval=30
color=#509475

[separator]
full_text="⟨"
color=#53685B

[shutdown_menu]
full_text=
command=powermenu
color=#FF5345
