separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#cdcdcd

[separator]
full_text="⟨"
color=#2f2f30

[bandwidth]
command=bandwith
interval=1
label=   
color=#7e98e8

[separator]
full_text="⟨"
color=#2f2f30

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#6e94b2

[separator]
full_text="⟨"
color=#2f2f30

[memory]
label=  
command=memory
interval=2
color=#6e94b2

[separator]
full_text="⟨"
color=#2f2f30

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#d8647e

[separator]
full_text="⟨"
color=#2f2f30

[wifi]
command=wifi-status
interval=30
color=#cdcdcd

[separator]
full_text="⟨"
color=#2f2f30

[volume]
command=sb-volume
interval=1
color=#f3be7c

[separator]
full_text="⟨"
color=#2f2f30

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#cdcdcd

[separator]
full_text="⟨"
color=#2f2f30

[brightness]
command=sb-brightness
interval=5
label=   
color=#cdcdcd

[separator]
full_text="⟨"
color=#2f2f30

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#6e94b2

[separator]
full_text="⟨"
color=#2f2f30

[keymap]
command=kb-layout
interval=2
color=#6e94b2

[separator]
full_text="⟨"
color=#2f2f30

[battery]
command=battery
interval=30
color=#7e98e8

[separator]
full_text="⟨"
color=#2f2f30

[shutdown_menu]
full_text=
command=powermenu
color=#d8647e
