# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#c0caf5

[separator]
full_text="⟨"
color=#414868

[bandwidth]
command=bandwith
interval=1
label=   
color=#bb9af7

[separator]
full_text="⟨"
color=#414868

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#7aa2f7

[separator]
full_text="⟨"
color=#414868

[memory]
label=  
command=memory
interval=2
color=#7aa2f7

[separator]
full_text="⟨"
color=#414868

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#f7768e

[separator]
full_text="⟨"
color=#414868

[wifi]
command=wifi-status
interval=30
color=#c0caf5

[separator]
full_text="⟨"
color=#414868

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#e0af68

[separator]
full_text="⟨"
color=#414868

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#c0caf5

[separator]
full_text="⟨"
color=#414868

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#c0caf5

[separator]
full_text="⟨"
color=#414868

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#7aa2f7

[separator]
full_text="⟨"
color=#414868

[keymap]
command=kb-layout
interval=2
color=#7aa2f7

[separator]
full_text="⟨"
color=#414868

[battery]
command=battery
interval=30
color=#bb9af7

[separator]
full_text="⟨"
color=#414868

[shutdown_menu]
full_text=
command=powermenu
color=#f7768e
