separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#f6dcac

[separator]
full_text="⟨"
color=#293540

[bandwidth]
command=bandwith
interval=1
label=   
color=#8cbfb8

[separator]
full_text="⟨"
color=#293540

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#faa968

[separator]
full_text="⟨"
color=#293540

[memory]
label=  
command=memory
interval=2
color=#faa968

[separator]
full_text="⟨"
color=#293540

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#f85525

[separator]
full_text="⟨"
color=#293540

[wifi]
command=wifi-status
interval=30
color=#f6dcac

[separator]
full_text="⟨"
color=#293540

[volume]
command=sb-volume
interval=1
color=#e97b3c

[separator]
full_text="⟨"
color=#293540

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#f6dcac

[separator]
full_text="⟨"
color=#293540

[brightness]
command=sb-brightness
interval=5
label=   
color=#f6dcac

[separator]
full_text="⟨"
color=#293540

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#faa968

[separator]
full_text="⟨"
color=#293540

[keymap]
command=kb-layout
interval=2
color=#faa968

[separator]
full_text="⟨"
color=#293540

[battery]
command=battery
interval=30
color=#8cbfb8

[separator]
full_text="⟨"
color=#293540

[shutdown_menu]
full_text=
command=powermenu
color=#f85525
