 * {
    bg:             #05182e;
    bg-subtle:      #293540;
    bg-muted:       #4d5253;

    fg:             #f6dcac;
    fg-dim:         #958d79;

    accent:         #faa968;

    sel-bg:         #faa968;
    sel-fg:         #00172e;

    urgent:         #f85525;
    warning:        #e97b3c;
    success:        #028391;
}
