# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#bbc2cf

[separator]
full_text="⟨"
color=#595959

[bandwidth]
command=bandwith
interval=1
label=   
color=#51afef

[separator]
full_text="⟨"
color=#595959

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#a9a1e1

[separator]
full_text="⟨"
color=#595959

[memory]
label=  
command=memory
interval=2
color=#a9a1e1

[separator]
full_text="⟨"
color=#595959

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#ff6c6b

[separator]
full_text="⟨"
color=#595959

[wifi]
command=wifi-status
interval=30
color=#bbc2cf

[separator]
full_text="⟨"
color=#595959

[volume]
command=sb-volume
interval=1
color=#ecbe7b

[separator]
full_text="⟨"
color=#595959

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#bbc2cf

[separator]
full_text="⟨"
color=#595959

[brightness]
command=sb-brightness
interval=5
label=   
color=#bbc2cf

[separator]
full_text="⟨"
color=#595959

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#a9a1e1

[separator]
full_text="⟨"
color=#595959

[keymap]
command=kb-layout
interval=2
color=#a9a1e1

[separator]
full_text="⟨"
color=#595959

[battery]
command=battery
interval=30
color=#51afef

[separator]
full_text="⟨"
color=#595959

[shutdown_menu]
full_text=
command=powermenu
color=#ff6c6b
