:root {
    --bg:             #282c34;
    --bg-subtle:      #3e424b;
    --bg-muted:       #545962;

    --fg:             #bbc2cf;
    --fg-dim:         #808691;

    --accent:         #a9a1e1;

    --sel-bg:         #42444b;
    --sel-fg:         #bbc2cf;

    --urgent:         #ff6c6b;
    --warning:        #ecbe7b;
    --success:        #98be65;
}
