# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#f8f8f2

[separator]
full_text="⟨"
color=#6272a4

[bandwidth]
command=bandwith
interval=1
label=   
color=#50fa7b

[separator]
full_text="⟨"
color=#6272a4

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#8be9fd

[separator]
full_text="⟨"
color=#6272a4

[memory]
label=  
command=memory
interval=2
color=#ff5555

[separator]
full_text="⟨"
color=#6272a4

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#ff5555

[separator]
full_text="⟨"
color=#6272a4

[wifi]
command=wifi-status
interval=30
color=#8be9fd

[separator]
full_text="⟨"
color=#6272a4

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#ffffa5

[separator]
full_text="⟨"
color=#6272a4

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#50fa7b

[separator]
full_text="⟨"
color=#6272a4

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#ff5555

[separator]
full_text="⟨"
color=#6272a4

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#8be9fd

[separator]
full_text="⟨"
color=#6272a4

[keymap]
command=kb-layout
interval=2
color=#ff5555

[separator]
full_text="⟨"
color=#6272a4

[battery]
command=battery
interval=30
color=#50fa7b

[separator]
full_text="⟨"
color=#6272a4

[shutdown_menu]
full_text=
command=powermenu
color=#ff5555
