# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#D8DEE9

[separator]
full_text="⟨"
color=#4C566A

[bandwidth]
command=bandwith
interval=1
label=   
color=#A3BE8C

[separator]
full_text="⟨"
color=#4C566A

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#81A1C1

[separator]
full_text="⟨"
color=#4C566A

[memory]
label=  
command=memory
interval=2
color=#81A1C1

[separator]
full_text="⟨"
color=#4C566A

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#BF616A

[separator]
full_text="⟨"
color=#4C566A

[wifi]
command=wifi-status
interval=30
color=#D8DEE9

[separator]
full_text="⟨"
color=#4C566A

[volume]
command=sb-volume
interval=1
color=#EBCB8B

[separator]
full_text="⟨"
color=#4C566A

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#D8DEE9

[separator]
full_text="⟨"
color=#4C566A

[brightness]
command=sb-brightness
interval=5
label=   
color=#D8DEE9

[separator]
full_text="⟨"
color=#4C566A

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#81A1C1

[separator]
full_text="⟨"
color=#4C566A

[keymap]
command=kb-layout
interval=2
color=#81A1C1

[separator]
full_text="⟨"
color=#4C566A

[battery]
command=battery
interval=30
color=#A3BE8C

[separator]
full_text="⟨"
color=#4C566A

[shutdown_menu]
full_text=
command=powermenu
color=#BF616A
