[colors.primary]
background = "{{ palette_bg }}"
foreground = "{{ palette_fg }}"

[colors.cursor]
text   = "{{ palette_bg }}"
cursor = "{{ palette_cursor }}"

[colors.selection]
text       = "{{ palette_sel_fg }}"
background = "{{ palette_sel_bg }}"

[colors.normal]
black   = "{{ palette_color0 }}"
red     = "{{ palette_color1 }}"
green   = "{{ palette_color2 }}"
yellow  = "{{ palette_color3 }}"
blue    = "{{ palette_color4 }}"
magenta = "{{ palette_color5 }}"
cyan    = "{{ palette_color6 }}"
white   = "{{ palette_color7 }}"

[colors.bright]
black   = "{{ palette_color8 }}"
red     = "{{ palette_color9 }}"
green   = "{{ palette_color10 }}"
yellow  = "{{ palette_color11 }}"
blue    = "{{ palette_color12 }}"
magenta = "{{ palette_color13 }}"
cyan    = "{{ palette_color14 }}"
white   = "{{ palette_color7 }}"


# Font matching Foot
[font]

size = 20

[font.normal]
family = "FantasqueSansM Nerd Font Mono"
style = "Regular"

[font.bold]
family = "FantasqueSansM Nerd Font Mono"
style = "Bold"

[font.italic]
family = "FantasqueSansM Nerd Font Mono"
style = "Italic"

[font.bold_italic]
family = "FantasqueSansM Nerd Font Mono"
style = "Bold Italic"
