theme[main_bg]="{{ palette_bg }}"
theme[main_fg]="{{ palette_fg }}"
theme[title]="{{ palette_fg }}"
theme[hi_fg]="{{ palette_accent }}"
theme[selected_bg]="{{ palette_bg_subtle }}"
theme[selected_fg]="{{ palette_accent }}"
theme[inactive_fg]="{{ palette_fg_dim }}"
theme[graph_text]="{{ palette_fg_dim }}"
theme[proc_misc]="{{ palette_success }}"
theme[cpu_box]="{{ palette_fg_dim }}"
theme[mem_box]="{{ palette_fg_dim }}"
theme[net_box]="{{ palette_fg_dim }}"
theme[proc_box]="{{ palette_fg_dim }}"
theme[div_line]="{{ palette_bg_subtle }}"
theme[temp_start]="{{ palette_color6 }}"
theme[temp_mid]="{{ palette_color5 }}"
theme[temp_end]="{{ palette_error }}"
theme[cpu_start]="{{ palette_success }}"
theme[cpu_mid]="{{ palette_warning }}"
theme[cpu_end]="{{ palette_error }}"
theme[free_start]="{{ palette_success }}"
theme[free_mid]=""
theme[free_end]="{{ palette_success }}"
theme[cached_start]="{{ palette_color6 }}"
theme[cached_mid]=""
theme[cached_end]="{{ palette_color6 }}"
theme[available_start]="{{ palette_warning }}"
theme[available_mid]=""
theme[available_end]="{{ palette_warning }}"
theme[used_start]="{{ palette_error }}"
theme[used_mid]=""
theme[used_end]="{{ palette_error }}"
theme[download_start]="{{ palette_color5 }}"
theme[download_mid]="{{ palette_color5 }}"
theme[download_end]="{{ palette_color5 }}"
theme[upload_start]="{{ palette_color4 }}"
theme[upload_mid]="{{ palette_color4 }}"
theme[upload_end]="{{ palette_color4 }}"
