foreground #{{ palette_fg }}
background #{{ palette_bg }}
selection_foreground #{{ palette_sel_fg }}
selection_background #{{ palette_sel_bg }}
active_tab_foreground #{{ palette_sel_fg }}
active_tab_background #{{ palette_sel_bg }}
inactive_tab_foreground #{{ palette_color8 }}
inactive_tab_background #{{ palette_sel_bg }}
cursor #{{ palette_cursor }}
cursor_text_color #{{ palette_bg }}
url_color #{{ palette_accent }}
url_style curly
color0 #{{ palette_color0 }}
color1 #{{ palette_color1 }}
color2 #{{ palette_color2 }}
color3 #{{ palette_color3 }}
color4 #{{ palette_color4 }}
color5 #{{ palette_color5 }}
color6 #{{ palette_color6 }}
color7 #{{ palette_color7 }}
color8 #{{ palette_color8 }}
color9 #{{ palette_color9 }}
color10 #{{ palette_color10 }}
color11 #{{ palette_color11 }}
color12 #{{ palette_color12 }}
color13 #{{ palette_color13 }}
color14 #{{ palette_color14 }}
color15 #{{ palette_color15 }}
