 * {
    bg:             #{{ rofi_bg}};
    bg-subtle:      #{{ rofi_bg_subtle}};
    bg-muted:       #{{ rofi_bg_muted}};

    fg:             #{{ rofi_fg}};
    fg-dim:         #{{ rofi_fg_dim}};

    accent:         #{{ rofi_accent}};

    sel-bg:         #{{ rofi_sel_bg}};
    sel-fg:         #{{ rofi_sel_fg}};

    urgent:         #{{ rofi_urgent}};
    warning:        #{{ rofi_warning}};
    success:        #{{ rofi_success}};
}
