format = """
[](#{{ starship_os_bg }})\
$os\
[](bg:#{{ starship_os_bg }} fg:#{{ starship_os_fg }})\
[](bg:#{{ starship_dir_bg }} fg:#{{ starship_os_bg }})\
$directory\
[](fg:#{{ starship_dir_bg }} bg:#{{ palette_bg_subtle }})\
$git_branch\
$git_status\
[](fg:#{{ palette_bg_subtle }} bg:#{{ palette_bg_muted }})\
$nodejs\
$rust\
$golang\
$zsh\
$vscode\
$python\
$php\
[](fg:#{{ palette_bg_muted }} bg:#{{ palette_bg }})\
\n$character"""

right_format = """
[](#{{ palette_fg_dim }})\
$battery\
[](fg:#{{ palette_fg_dim }} bg:#{{ palette_fg_dim }})\
$time\
[](fg:#{{ palette_fg_dim }})"""

[battery]
full_symbol = "󰁹 "
charging_symbol = "󰂄 "
discharging_symbol = "󰂃 "
unknown_symbol = "󰁽 "
empty_symbol = "󰂎 "
format = '[[$symbol$percentage ](fg:#{{ palette_fg }} bg:#{{ palette_fg_dim }})]($style)'

[[battery.display]]
threshold = 100
style = "bg:#{{ palette_success }} fg:#{{ palette_bg }}"

[[battery.display]]
threshold = 80
style = "bg:#{{ palette_success }} fg:#{{ palette_bg }}"

[[battery.display]]
threshold = 50
style = "bg:#{{ palette_warning }} fg:#{{ palette_bg }}"

[[battery.display]]
threshold = 20
style = "bg:#{{ palette_error }} fg:#{{ palette_bg }}"

[time]
disabled = false
format = '[[ $time ](fg:#{{ palette_fg }} bg:#{{ palette_fg_dim }})]($style)'
style = "bg:#{{ palette_fg_dim }} fg:#{{ palette_fg_on_accent }}"
time_format = "%b %d %H:%M"

[directory]
style = "fg:#{{ palette_bg }} bg:#{{ starship_dir_bg }}"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music"     = " "
"Pictures"  = " "

[git_branch]
style = "bg:#{{ palette_bg_subtle }}"
format = '[[ $symbol $branch ](fg:#{{ palette_fg }} bg:#{{ palette_bg_subtle }})]($style)'

[git_status]
style = "fg:#{{ palette_fg }} bg:#{{ palette_bg_subtle }}"
format = '[[($all_status$ahead_behind )](fg:#{{ palette_fg }} bg:#{{ palette_bg_subtle }})]($style)'
conflicted = "‼"
ahead      = "⇡"
behind     = "⇣"
diverged   = "↕"
up_to_date = "✓"
untracked  = ""
stashed    = " "
modified   = "●"
staged     = "[++\\($count\\)](fg:#{{ starship_os_bg }})"
renamed    = "➜"
deleted    = "✖"

[character]
success_symbol = "[✔](fg:#{{ starship_os_bg }})"
error_symbol   = "[✖](fg:#{{ palette_error }})"

[nodejs]
symbol = ""
style  = "bg:#{{ palette_bg_muted }}"
format = '[[ $symbol ($version) ](fg:#{{ palette_fg_dim }} bg:#{{ palette_bg_muted }})]($style)'

[rust]
symbol = ""
style  = "bg:#{{ palette_bg_muted }}"
format = '[[ $symbol ($version) ](fg:#{{ palette_fg_dim }} bg:#{{ palette_bg_muted }})]($style)'

[golang]
symbol = ""
style  = "bg:#{{ palette_bg_muted }}"
format = '[[ $symbol ($version) ](fg:#{{ palette_fg_dim }} bg:#{{ palette_bg_muted }})]($style)'

[python]
symbol = ""
style  = "bg:#{{ palette_bg_muted }}"
format = '[[ $symbol ($version) ](fg:#{{ palette_fg_dim }} bg:#{{ palette_bg_muted }})]($style)'

[php]
symbol = ""
style  = "bg:#{{ palette_bg_muted }}"
format = '[[ $symbol ($version) ](fg:#{{ palette_fg_dim }} bg:#{{ palette_bg_muted }})]($style)'

[os]
disabled = false
style    = "fg:#{{ starship_os_fg }} bg:#{{ starship_os_bg }}"

[os.symbols]
Windows           = "󰍲"
Ubuntu            = "󰌽 "
SUSE              = ""
Raspbian          = "󰐿"
Mint              = "󰣭"
Macos             = ""
Manjaro           = ""
Linux             = "󰌽"
Gentoo            = "󰣨"
Fedora            = "󰣛"
Alpine            = ""
Amazon            = ""
Android           = ""
Arch              = "󰣇"
Artix             = "󰣇"
CentOS            = ""
Debian            = "󰣚"
Redhat            = "󱄛"
RedHatEnterprise  = "󱄛"
