# ================= Theme =================

# borders and messages
set -g pane-border-style         "fg=#{{ palette_bg_muted }}"
set -g pane-active-border-style  "fg=#{{ starship_os_bg }}"
set -g message-style             "bg=#{{ starship_os_bg }},fg=#{{ starship_os_fg }}"
set -g message-command-style     "bg=#{{ starship_os_bg }},fg=#{{ starship_os_fg }}"

# statusline base
set -g status on
set -g status-interval 1
set -g status-position bottom
set -g status-justify left
set -g status-left-length 80
set -g status-right-length 160
set -g status-style "bg=default,fg=#{{ starship_os_bg }}"

# left bubble: session
set -g status-left "#[fg=#{{ starship_os_bg }}]#[bg=#{{ starship_os_bg }}]#[fg=#{{ starship_os_fg }}]#[bold]   #S #[nobold]#[fg=#{{ starship_os_bg }}]#[bg=default] "

# right bubbles: prefix, git branch, host, time
set -g status-right '#{?client_prefix,#[fg=#{{ palette_bg_subtle }}]#[bg=#{{ palette_bg_subtle }}]#[fg=#{{ palette_fg }}]#[bold] ⏽ PREFIX #[nobold]#[fg=#{{ palette_bg_subtle }}]#[bg=default] ,}#[fg=#{{ palette_bg_subtle }}]#[bg=#{{ palette_bg_subtle }}]#[fg=#{{ palette_fg }}]  #(cd #{pane_current_path}; git rev-parse --abbrev-ref HEAD 2>/dev/null || echo "-") #[fg=#{{ palette_bg_subtle }}]#[bg=default] #[fg=#{{ palette_bg_muted }}]#[bg=#{{ palette_bg_muted }}]#[fg=#{{ palette_fg }}] #H #[fg=#{{ palette_bg_muted }}]#[bg=default] #[fg=#{{ palette_bg }}]#[bg=#{{ palette_bg }}]#[fg=#{{ palette_fg }}] %Y-%m-%d %H:%M #[fg=#{{ palette_bg }}]#[bg=default]'

# window tabs
set -g window-status-separator ""
set -g window-status-format         " #[fg=#{{ palette_bg_muted }}]#I #[fg=#{{ palette_fg }}]#W "
set -g window-status-current-format "#[fg=#{{ starship_os_bg }}]#[bg=#{{ starship_os_bg }}]#[fg=#{{ starship_os_fg }}]#[bold] #I: #W #[nobold]#[fg=#{{ starship_os_bg }}]#[bg=default]"

# nuke the entire right side of the status bar, it's annoying with starship
set -g status-right ""
set -g status-right-length 0
set -g @bar_state "left"
