# ================= Theme =================

# borders and messages
set -g pane-border-style         "fg=#{{ palette_bg_muted }}"
set -g pane-active-border-style  "fg=#{{ starship_os_bg }}"
set -g message-style             "bg=#{{ starship_os_bg }},fg=#{{ starship_os_fg }}"
set -g message-command-style     "bg=#{{ starship_os_bg }},fg=#{{ starship_os_fg }}"

# statusline base
set -g status on
set -g status-interval 1
set -g status-position bottom
set -g status-justify left
set -g status-left-length 80
set -g status-right-length 160
set -g status-style "bg=default,fg=#{{ starship_os_bg }}"

# left bubble: session
set -g status-left "#[fg=#{{ starship_os_bg }}]#[bg=#{{ starship_os_bg }}]#[fg=#{{ starship_os_fg }}]#[bold]   #S #[nobold]#[fg=#{{ starship_os_bg }}]#[bg=default]"

# right side with consistent styling
set -g status-right "#[align=right]#[fg=#{{ palette_accent }}]#(bandwidth)#[default] | #[fg=#{{ palette_fg }}]#(df -h / | awk 'NR==2 {print $3 \"/\" $2}')#[default] | #[fg=cyan]#(cpu-usage)#[default] | #[fg=#{{ palette_accent }}]#(memory)#[default] | #[fg=blue]#(wifi-status)#[default] | #[fg=white]#(kb-layout)#[default] | #[fg=#{{ palette_fg }}]%H:%M"

# window tabs
set -g window-status-separator ""
set -g window-status-format " #[fg=#{{ palette_bg_muted }}]#I#[fg=#{{ palette_fg }}] #W "
set -g window-status-current-format "#[fg=#{{ starship_os_bg }}]#[bg=#{{ starship_os_bg }}]#[fg=#{{ starship_os_fg }}]#[bold] #I: #W #[nobold]#[fg=#{{ starship_os_bg }}]#[bg=default]"
set -g @bar_state "full"
