[colors]
background = {{ palette_bg }}
foreground = {{ palette_fg }}
regular0 = {{ palette_color0 }}
regular1 = {{ palette_color1 }}
regular2 = {{ palette_color2 }}
regular3 = {{ palette_color3 }}
regular4 = {{ palette_color4 }}
regular5 = {{ palette_color5 }}
regular6 = {{ palette_color6 }}
regular7 = {{ palette_color7 }}
bright0 = {{ palette_color8 }}
bright1 = {{ palette_color9 }}
bright2 = {{ palette_color10 }}
bright3 = {{ palette_color11 }}
bright4 = {{ palette_color12 }}
bright5 = {{ palette_color13 }}
bright6 = {{ palette_color14 }}
bright7 = {{ palette_color15 }}
cursor = {{ palette_bg }} {{ palette_fg }}
selection-foreground = {{ palette_sel_fg }}
selection-background = {{ palette_bg_muted }}
search-box-no-match = {{ palette_bg }} {{ palette_error }}
search-box-match = {{ palette_fg }} {{ palette_bg_muted }}
jump-labels = {{ palette_bg }} {{ palette_accent }}
urls = {{ palette_accent }}
