$background = rgb({{ palette_bg_raw }})
$foreground = rgb({{ palette_fg_raw }})
$accent     = rgb({{ palette_accent_raw }})
$bg_subtle  = rgb({{ palette_bg_subtle_raw }})
$bg_muted   = rgb({{ palette_bg_muted_raw }})

$active_border   = $accent
$inactive_border = $bg_muted
$focus_border    = $accent
$shadow_color    = rgba(0 0 0 55)
