 * {
    bg:             #{{ palette_bg}};
    bg-subtle:      #{{ palette_bg_subtle}};
    bg-muted:       #{{ palette_bg_muted}};

    fg:             #{{ palette_fg}};
    fg-dim:         #{{ palette_fg_dim}};

    accent:         #{{ palette_accent}};

    sel-bg:         #{{ palette_sel_bg}};
    sel-fg:         #{{ palette_sel_fg}};

    urgent:         #{{ palette_error}};
    warning:        #{{ palette_warning}};
    success:        #{{ palette_success}};
}
