@define-color background-color {{ palette_bg }};
@define-color border-color {{ palette_success }};
@define-color label {{ palette_fg }};
@define-color image {{ palette_fg }};
@define-color progress {{ palette_fg }};
