# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#d3c6aa

[separator]
full_text="⟨"
color=#343f44

[bandwidth]
command=bandwith
interval=1
label=   
color=#dbbc7f

[separator]
full_text="⟨"
color=#343f44

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#a7c080

[separator]
full_text="⟨"
color=#343f44

[memory]
label=  
command=memory
interval=2
color=#a7c080

[separator]
full_text="⟨"
color=#343f44

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#e67e80

[separator]
full_text="⟨"
color=#343f44

[wifi]
command=wifi-status
interval=30
color=#7fbbb3

[separator]
full_text="⟨"
color=#343f44

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#dbbc7f

[separator]
full_text="⟨"
color=#343f44

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#7fbbb3

[separator]
full_text="⟨"
color=#343f44

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#7fbbb3

[separator]
full_text="⟨"
color=#343f44

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#a7c080

[separator]
full_text="⟨"
color=#343f44

[keymap]
command=kb-layout
interval=2
color=#a7c080

[separator]
full_text="⟨"
color=#343f44

[battery]
command=battery
interval=30
color=#dbbc7f

[separator]
full_text="⟨"
color=#343f44

[shutdown_menu]
full_text=
command=powermenu
color=#e67e80
