separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#d3c6aa

[separator]
full_text="⟨"
color=#404444

[bandwidth]
command=bandwith
interval=1
label=   
color=#83c092

[separator]
full_text="⟨"
color=#404444

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#7fbbb3

[separator]
full_text="⟨"
color=#404444

[memory]
label=  
command=memory
interval=2
color=#7fbbb3

[separator]
full_text="⟨"
color=#404444

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#e67e80

[separator]
full_text="⟨"
color=#404444

[wifi]
command=wifi-status
interval=30
color=#d3c6aa

[separator]
full_text="⟨"
color=#404444

[volume]
command=sb-volume
interval=1
color=#dbbc7f

[separator]
full_text="⟨"
color=#404444

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#d3c6aa

[separator]
full_text="⟨"
color=#404444

[brightness]
command=sb-brightness
interval=5
label=   
color=#d3c6aa

[separator]
full_text="⟨"
color=#404444

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#7fbbb3

[separator]
full_text="⟨"
color=#404444

[keymap]
command=kb-layout
interval=2
color=#7fbbb3

[separator]
full_text="⟨"
color=#404444

[battery]
command=battery
interval=30
color=#83c092

[separator]
full_text="⟨"
color=#404444

[shutdown_menu]
full_text=
command=powermenu
color=#e67e80
