@define-color bg           #2b3339;
@define-color fg           #d3c6aa;
@define-color foreground   #d3c6aa;
@define-color bordercolor  #3c3836;
@define-color highlight    #8ec07c;
@define-color alert        #ea6962;
@define-color activegreen  #b8bb26;
@define-color disabled     #5c6370;


@define-color bg_alt      #323c41;
@define-color border      #4b565c;

@define-color red         #e67e80;
@define-color green       #a7c080;
@define-color yellow      #dbbc7f;
@define-color blue        #7fbbb3;
@define-color purple      #d699b6;
@define-color aqua        #83c092;
@define-color orange      #e69875;
@define-color gray        #7a8478;
