:root {
    --bg:             #272e33;
    --bg-subtle:      #404444;
    --bg-muted:       #5a5b56;

    --fg:             #d3c6aa;
    --fg-dim:         #8e897a;

    --accent:         #7fbbb3;

    --sel-bg:         #464e53;
    --sel-fg:         #9da9a0;

    --urgent:         #e67e80;
    --warning:        #dbbc7f;
    --success:        #a7c080;
}
