[Desktop Entry]
Name=WoW Epoch
Exec=wine /home/rey/Games/epoch/epoch-installer.exe
Icon=/home/rey/Pictures/icons/wow.png
Type=Application
Categories=Games;

