[Desktop Entry]
Name=JDownloader
Exec=java -Dsun.java2d.uiScale=2.5 -jar /home/rey/apps/jdownloader/JDownloader.jar
Icon=jd
Type=Application
Categories=Network;

