[Desktop Entry]
Name=WoW Stormforge
Exec=wine /home/rey/Games/Stormforge/Wow-SF.exe
Icon=/home/rey/Pictures/icons/wow.png
Type=Application
Categories=Games;

