[Desktop Entry]
Name=TurtleWoW (FEX llvmpipe)
Exec=/home/rey/turtlewow-fex.sh
Icon=application-x-executable
Type=Application
Categories=Game;
Terminal=false

