:root {
    --bg:             #000000;
    --bg-subtle:      #262626;
    --bg-muted:       #4c4c4c;

    --fg:             #ffffff;
    --fg-dim:         #999999;

    --accent:         #8d8d8d;

    --sel-bg:         #ffffff;
    --sel-fg:         #000000;

    --urgent:         #a4a4a4;
    --warning:        #cecece;
    --success:        #b6b6b6;
}
