# Global properties
separator=false
markup=pango
separator_block_width=10

[weather]
command=weather-short
interval=1000
color=#ffcead

[separator]
full_text="⟨"
color=#c2c4f0

[bandwidth]
command=bandwith
interval=1
label=   
color=#a3bfd1

[separator]
full_text="⟨"
color=#c2c4f0

[disk]
label=  
instance=/
command=df -h / | awk 'NR==2 {print $3 "/" $2}'
interval=30
color=#ead7e7

[separator]
full_text="⟨"
color=#c2c4f0

[memory]
label=  
command=memory
interval=2
color=#ead7e7

[separator]
full_text="⟨"
color=#c2c4f0

[cpu_usage]
label=  
command=cpu-usage
interval=2
color=#ED5B5A

[separator]
full_text="⟨"
color=#c2c4f0

[wifi]
command=wifi-status
interval=30
color=#3C486D

[separator]
full_text="⟨"
color=#c2c4f0

[volume]
command=wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{if ($3 == "[MUTED]") print "MUTED"; else print int($2 * 100) " %"}'
interval=1
label=   
color=#f7dc9c

[separator]
full_text="⟨"
color=#c2c4f0

[power-profile]
command=power-wrapper
interval=5
signal=10
color=#3C486D

[separator]
full_text="⟨"
color=#c2c4f0

[brightness]
command=brightnessctl g | awk '{print $1}'
interval=5
label=   
color=#3C486D

[separator]
full_text="⟨"
color=#c2c4f0

[time]
interval=1
command=timer
separator_block_width=10
label=  
color=#ead7e7

[separator]
full_text="⟨"
color=#c2c4f0

[keymap]
command=kb-layout
interval=2
color=#ead7e7

[separator]
full_text="⟨"
color=#c2c4f0

[battery]
command=battery
interval=30
color=#a3bfd1

[separator]
full_text="⟨"
color=#c2c4f0

[shutdown_menu]
full_text=
command=powermenu
color=#ED5B5A
